.btn-ripple-default {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn-ripple-default:after {
    content: "";
    background: #aaa;
    display: block;
    position: absolute;
    padding-top: 28px;
    padding-left: 63px;
    margin-left: -10px!important;
    margin-top: -28px;
    opacity: 0;
    transition: all 0.8s
}

.btn-ripple-default:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.btn-ripple-primary {
    position: relative;
    border: none;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;

}

.btn-ripple-primary:after {
    content: "";
    background: #9ac0ff;
    display: block;
    position: absolute;
    padding-top: 72px;
    padding-left: 150px;
    margin-left: -63px!important;
    margin-top: -51px;
    opacity: 0;
    transition: all 1.3s
}

.btn-ripple-primary:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.btn-ripple-danger {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn-ripple-danger:after {
    content: "";
    background: #ff8e85;
    display: block;
    position: absolute;
    padding-top: 28px;
    padding-left: 63px;
    margin-left: -10px!important;
    margin-top: -28px;
    opacity: 0;
    transition: all 0.8s
}

.btn-ripple-danger:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.btn-ripple-warning {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn-ripple-warning:after {
    content: "";
    background: #ffe085;
    display: block;
    position: absolute;
    padding-top: 28px;
    padding-left: 63px;
    margin-left: -10px!important;
    margin-top: -28px;
    opacity: 0;
    transition: all 0.8s
}

.btn-ripple-warning:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.btn-success {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn-success:after {
    content: "";
    background: #6ce88d;
    display: block;
    position: absolute;
    padding-top: 28px;
    padding-left: 63px;
    margin-left: -10px!important;
    margin-top: -28px;
    opacity: 0;
    transition: all 0.8s
}

.btn-success:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}



/*with JS*/
.button-js{
  position: relative;
  border: none;
  outline:none;
  cursor: pointer;
  background: #89669b;
  color: white;
  padding: 18px 60px;
  border-radius: 2px;
  font-size: 22px;
}

.fab{
  border-radius: 50%;
  margin:0;
  padding: 20px;
}

.material{
  position:relative;
  color:white;
  margin: 20px auto;
  height:400px;
  width:500px;
  background:#f45673;
  
}

.ripple{
  overflow:hidden;
}

.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;

    
  animation: ripple-animation 2s;
}


@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}